<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nl">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="container mx-auto p-4">
    <div th:if="${param.success != null}">
        <div class="bg-green-700 text-white p-5 rounded-2xl" th:if="${param.success[0]} == 'true'">
            Goed bewaard!
        </div>
        <div class="bg-red-700 text-white p-5 rounded-2xl" th:if="${param.success[0]} != 'true'">
            Fout bij het opslaan. Contacteer Franky
        </div>
        <br><br><br>
    </div>

    <h1 class="text-2xl font-bold mb-4">Site administratie voor de Meulemeershoeve</h1>
    <div class="grid grid-cols-1 gap-x-8 gap-y-6">
        <div class="">
            <button
                    id="uppertitle"
                    class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300"
                    onclick="window.location.href='/textblock?item=uppertitle'"
            >
                Bovenste titel
            </button>
        </div>
        <div class="">
            <button
                    id="undertitle"
                    class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300"
                    onclick="window.location.href='/textblock?item=undertitle'"
            >
                Onderste titel
            </button>
        </div>
        <div class="">
            <button
                    id="vision"
                    class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300"
                    onclick="window.location.href='/textblock?item=vision'"
            >
                Visie
            </button>
        </div>
        <div class="">
            <button
                    id="aboutus"
                    class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300"
                    onclick="window.location.href='/textblock?item=aboutus'"
            >
                Over ons
            </button>
        </div>

        <div class="">
            <button
                    id="goldenretriever"
                    class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300"
                    onclick="window.location.href='/textblock?item=goldenretriever'"
            >
                Golden Retriever ras
            </button>
        </div>

        <div class="">
            <button
                    id="bernersennen"
                    class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300"
                    onclick="window.location.href='/textblock?item=bernersennen'"
            >
                Berner Sennen ras
            </button>
        </div>
        <div class="">
            <button
                    id="uploadFoto"
                    class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300"
                    onclick="window.location.href='/upload'"
            >
                Beheer foto's
            </button>
        </div>
        <div class="">
            <button
                    id="uploadNest"
                    class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300"
                    onclick="window.location.href='/nest'"
            >
                Beheer nesten
            </button>
        </div>
    </div>
</body>
</html>
